@import "vars";

input, button {
  border: none;
  // background-color: $white;
  color: black;
}

.header {
  color: black;
  background-color: $white;
  z-index: 7;
  width: 100%;
  position: fixed;
  top: 0;
  max-height: 74px;
  box-shadow: 0 20px 50px -20px rgba(0,0,0,0.1);
}
.container {
  max-height: 74px;
  max-width: $w;
  justify-content: space-between;
  margin: 0 auto;
  display: flex;
  background-color: $white;
  padding-right: 12px;
  padding-left: 16px;
}
.logo {
  max-height: 100%;
  max-width: 100%;
}
.mid-ui, .right-ui {
  display: flex;
  align-items: center;
}
.to {
  margin: 0 10px;
}
// .right-ui {
//   align-items: center;
// }
.btn-group > button {
  margin-right: 10px;
}
.header-ui {
  height: 40px;
  border: 0.5px solid #999;
  border-radius: 2px;
}
.inverted {
  border: none;
  color: white;
  background-color: black;
}

.when-select {

}
.location-input {

}

@media all and (min-width: $md) {
  // .mid-menu {
  //   display: none;
  // }
}