@import "header";

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 1000px;
  font-family: 'Raleway', sans-serif;
  background-color: $white;
  font-size: 18px;
  line-height: 1.8;
}
.wrapper {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  padding-top: 74px;
  // align-items: 
}
.main-search, .city-header {
  display: flex;
}
.city-header {
  width: 100%;
  max-width: 1158px;
  margin: 22px auto 0 auto;
}
.city-header > h2 {
  margin: 0;
}