doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
    link(href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAALCwsAAAAAADMzMwACAgIACAgIAA8PDwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAERERERERERERERERERERERERERERERERERMRERERERERERERERERERERERERERERERERMRUREREREREREREREREREREREREREREREREREREREREREUEREREREREREBERERERERERAREREREREREREREREREREREhERERERERERH//wAA//8AAMABAADgAQAA8AEAAPgBAAD8AQAA/8EAAP/BAAD/wQAA/8EAAP/hAAD/8QAA//kAAP/9AAD//wAA" rel="icon" type="image/x-icon")
    
    link(href="https://cdnjs.cloudflare.com/ajax/libs/10up-sanitize.css/5.0.0/sanitize.min.css" rel="stylesheet")
    title practice
  body
    .wrapper
      include includes/header.pug
      include includes/content.pug
      include includes/footer.pug
